aiohttp==3.7.3
async-timeout==3.0.1
attrs==19.3.0
autopep8==1.5.4
cachetools==4.1.1
certifi==2020.12.5
chardet==3.0.4
google-api-core==1.23.0
google-api-python-client==1.12.8
google-auth==1.23.0
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
h11==0.11.0
h2==3.2.0
hpack==3.0.0
httpcore==0.12.2
httplib2==0.18.1
httpx==0.16.1
hyperframe==5.2.0
idna==2.10
multidict==5.1.0
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pytchat==0.5.2
pytz==2020.4
requests==2.25.0
rfc3986==1.4.0
rsa==4.6
six==1.15.0
sniffio==1.2.0
twitter==1.18.0
twitter-text-parser==1.0.2
typing-extensions==3.7.4.3
uritemplate==3.0.1
urllib3==1.26.2
yarl==1.6.3
